<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <h1>By The Cake</h1>
    <h3>Enjoy our awesome cakes!</h3>
    <hr />
    <p>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <!--<ol>
                <li>
                    <a href="#">Our Cakes</a>
                </li>
                <li>
                    <a href="#">Our Stores</a>
                </li>
            </ol>-->
            <li>
                <a href="profile">My Profile</a>
            </li>
            <!--<li>
                <a href="AddCakes.html">Add Cakes</a>
            </li>
            <li>
                <a href="BrowseCakes.html">Browse Cakes</a>
            </li>
            <li>
                <a href="AboutUs.html">AboutUs</a>
            </li>-->
        </ul>
    </p>
</body>
</html>