<div class="container-fluid">
    <div class="loginForm col-lg-12">
        <h1 class="loginHeading">Login</h1>
        <hr class="hr" style="height: 2px" />
        <form method="post" action="/users/login">
            <div class="col-md-2">
                Username/Email<input class="usernameInput" type="text" name="username" placeholder="Username/Email..." />
            </div>
            <div class="col-md-2">
                Password <input class="passwordInput" type="Password" name="password" placeholder="Password..." />
            </div>
            <input type="submit" value="Login" />
        </form>
    </div>
</div>