<hr />
<h1 class="loginHeading">Register</h1>
<hr class="hr" style="height: 2px" />
<form method="post" action="/users/register">
    <div class="col-md-2">
        <label>Username/Email</label> <input class="usernameInput" type="text" name="username" placeholder="Username/Email..." />
    </div>
    <div class="col-md-2">
        <label>Password</label> <input class="passwordInput" type="Password" name="password" placeholder="Password..." />
    </div><div class="col-md-2">
        <label>Confirm Password</label> <input class="CpasswordInput" type="Password" name="confirmPassword" placeholder="Confirm Password..." />
    </div>

    <div class="col-md-2">
        <label>Email</label> <input class="emailInput" type="Password" name="email" placeholder="Email..." />
    </div>
    <input type="submit" value="Register" />
</form>