body {
    color: white;
}

a {
    color: orange;
}

footer {
    color: black;
    text-align: center;
}

.top-border-line {
    margin-top: 5px;
}

.bottom-border-line {
    margin-top: 20px;
}

.heading-container {
    border-bottom: solid;
    border-color: white;
    padding-top: 10px;
}

.primary-separator {
    border-top: solid;
    border-color: green;
    margin-bottom: 10px;
}

.bottom-buffer-md {
    margin-bottom: 15px;
}

.bottom-buffer-xs {
    margin-bottom: 10px;
}

.navbar {
    background-color: green;
}

.nav-link {
    color: white;
    text-decoration: none;
}

    .nav-link:hover {
        color: white;
    }

.navbar-brand {
    color: whitesmoke;
}

.jumbotron {
    background-color: #28A745;
}

.loginHeading {
    color: #53B86A;
    text-align: center;
}

div .loginForm {
    color: #969696;
    text-align: center;
}

.heading-container bottom-buffer-md {
    text-align: center;
}

.hr {
    background-color: #28A745;
}

form {
    display: block;
    text-align: center;
}

.container-fluid {
    width: 80%;
}

.col-md-2 {
    width: 100%;
}

.usernameInput {
    margin: 10px;
}

.passwordInput {
    margin: 10px;
}

[type=reset], [type=submit], button, html [type=button] {
    background-color: #53b86a;
    color: white;
    border-radius: 7px;
    border-color: #53b86a;
}

label {
    color: black;
}
