<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
</head>
<body>
    <h1>By The Cake</h1>
    <p><h3>Enjoy our awesome cakes</h3></p>
    <hr />
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="login">Login</a></li>
        <ol>
            <li>
                <a href="#">Our Cakes</a>
            </li>
            <li>
                <a href="#">Our Stores</a>
            </li>
        </ol>
    </ul>

</body>
</html>